<!doctype html>
<html>
	<head>
		<%- include('parts/head', {title: 'お待ちください'}) %>
	</head>
	<body>
		<div class="container">
			<h1>お待ちください</h1>
			<a href="/">画面が変わらない方はこちら</a>

			<script src="https://www.gstatic.com/firebasejs/5.8.1/firebase-app.js"></script>
			<script src="https://www.gstatic.com/firebasejs/5.8.1/firebase-auth.js"></script>
			<script src="https://www.gstatic.com/firebasejs/ui/3.5.2/firebase-ui-auth__ja.js"></script>
			
			<script>
				$(window).on('load', async function() {		
					let config = {
						apiKey: "<%= config.apiKey %>",
						authDomain: "<%= config.authDomain %>",
						projectId: "<%= config.projectId %>",
						storageBucket: "<%= config.storageBucket %>",
						messagingSenderId: "<%= config.messagingSenderId %>",
						appId: "<%= config.appId %>",
						measurementId: "<%= config.measurementId %>"
					};

					firebase.initializeApp(config);

					firebase.auth().onAuthStateChanged(async (user) => {
						let uid = user.uid ;
						
						firebase.auth().signOut() ;

						let URL = '/authDone/verify?uid=' + uid ;

						await fetch(URL).then(response => response.json()) ;

						location.href = "/" ;
					});
				}) ;
			</script>
		</div>
	</body>
</html>