<!DOCTYPE html>
<html lang="ja">
	<head>
		<%- include('parts/head', {title: 'トップページ'}) %>
	</head>
	<body class="p-2">
		<%- include('parts/navbar', {}) %>

		<div class="container p-2">

			<h1 class="mb-5"><%- __("サミットマネージャー") %></h1>

			<div class="row">
				<div class="col mb-3">
					<h2><%- __("ようこそ") %> <%= userProfile.name.ja %> <%- __("さん") %></h2>
					<div id="profilePhoto"><img class="border rounded img-thumbnai" src="<% if (userProfile.photoURL != undefined) { %><%= userProfile.photoURL %><% } else { %>images/profile.png<% } %>" width="100"></div>
					<a href="/profile"><%- __("プロフィール") %></a>
				</div>
			</div>
			<% if (userProfile.role == 1) { %>
			<div class="row">
				<div class="col mb-3">
					<h2><%- __("管理者メニュー") %></h2>
					<a href="/genre"><%- __("ジャンル設定") %></a>
					<a href="/email"><%- __("メール送信") %></a>
				</div>
			</div>
			<% } %>
			<div class="row">
				<div class="col mb-3">
					<h2><%- __("あなたが申請したプログラム") %></h2>
					<div id="submittedPrograms"></div>
				</div>
			</div>
			<div class="row">
				<div class="col mb-3">
					<h2><%- __("あなたのオーナーのプログラム") %></h2>
					<div id="ownerOfPrograms"></div>
				</div>
			</div>
			<div class="row">
				<div class="col mb-3">
					<h2><%- __("スタッフとして加わるプログラム") %></h2>
					<div id="memberOfPrograms"></div>
				</div>
			</div>
		</div>

		<script>
			$(function () {
				reloadRequest("ja", 0) ;
			}) ;

			async function reloadRequest(lang, page) {
				
				let spinner = '<div class="d-flex justify-content-center"><div class="spinner-border my-3" role="status"><span class="visually-hidden">Loading...</span></div></div>' ;
				
				$("#submittedPrograms").empty() ;
				$("#submittedPrograms").append(spinner) ;
				$("#ownerOfPrograms").empty() ;
				$("#ownerOfPrograms").append(spinner) ;
				$("#memberOfPrograms").empty() ;
				$("#memberOfPrograms").append(spinner) ;

				$("#pagenation").empty() ;
				
				let data = await fetch("/data?page=" + page).then(response => response.json()) ;
				
				$("#submittedPrograms").empty() ;
				$("#ownerOfPrograms").empty() ;
				$("#memberOfPrograms").empty() ;
				$("#pagenation").empty() ;
				
				for (let key in data.submittedPrograms) {
					let program = data.submittedPrograms[key] ;
					$("#submittedPrograms").append(programBlock(lang, program, data.trackIdMap)) ;
				}

				for (let key in data.ownerOfPrograms) {
					let program = data.ownerOfPrograms[key] ;
					$("#ownerOfPrograms").append(programBlock(lang, program, data.trackIdMap)) ;
				}

				for (let key in data.memberOfPrograms) {
					let program = data.memberOfPrograms[key] ;
					$("#memberOfPrograms").append(programBlock(lang, program, data.trackIdMap)) ;
				}

				let ul = $('<ul class="pagination">') ;

				ul.append('<li class="page-item"><a class="page-link" onclick="reloadRequest(0);">最初</a></li>') ;

				for (let i=0; i<data.pageCount; i++) {
					if (i == data.page) {
						ul.append('<li class="page-item active"><a class="page-link" onclick="reloadRequest(' + i + ');">' + (i + 1) +'</a></li>') ;
					} else {
						ul.append('<li class="page-item"><a class="page-link" onclick="reloadRequest(' + i + ');">' + (i + 1) +'</a></li>') ;
					}
				}

				ul.append('<li class="page-item"><a class="page-link" onclick="reloadRequest(' + (data.pageCount - 1) + ');">最後</a></li>') ;

				$("#pagenation").append('<nav aria-label="Page navigation example">')
					.append('<ul class="pagination">').append(ul) ;
			}

			function programBlock(lang, program, trackIdMap) {

				let timeString = '' ;

				if (program.startTime != undefined && program.startTime != '' && program.endTime != undefined && program.endTime != '') {
					timeString = program.startTime + "〜" + program.endTime ;
				} else if (program.startTime != undefined && program.startTime != '') {
					timeString = program.startTime + "〜" ;
				} else if (program.endTime != undefined && program.endTime != '') {
					timeString = "〜" + program.endTime ;
				}

				let trackName = trackIdMap[program.trackId].name[lang] ;
				let categoryString = "" ;

				if (program.category == 0) {
					categoryString = "未定" ;
				} else if (program.category == 1) {
					categoryString = "セッション" ;
				} else if (program.category == 2) {
					categoryString = "ワークショップ" ;
				}

				return `<div class="card my-3">
							<div class="card-header h5 fw-bold">
								<a href="/programs/view?programId=${program.programId}">${program.title[lang]}</a>
							</div>
							<ul class="list-group list-group-flush">
								<li class="list-group-item">
									<div class="row">
										<div class="col-sm">
											<i class="me-2 bi bi-calendar"></i>${program.date}
										</div>
										<div class="col-sm">
											<i class="me-2 bi bi-clock"></i>${timeString}
											
										</div>
									</div>
								</li>
								<li class="list-group-item">
									<div class="row">
										<div class="col-sm">
											<i class="me-2 bi bi-house-door"></i>${trackName}
										</div>
										<div class="col-sm">
											<i class="me-2 bi bi-tags"></i>${categoryString}
										</div>
									</div>
								</li>
							</ul>
						</div>` ;
			}

		</script>
	</body>
</html>
