<!doctype html>
<html lang="ja">
	<head>
		<%- include('parts/head', {title: '編集中'}) %>
	</head>
	<body class="p-2">
		<%- include('parts/navbar', {}) %>

		<div class="container p-2">

			<h1 class="mb-5"><%- __("この登壇者は編集中です") %></h1>
		
			<div class="my-3">
				<div class="alert alert-primary" role="alert">
					<div id="timestamp"></div>
					<div><%= presenter.name.ja %> <%- __("は") %> <%= lockingUser.name.ja %> <%- __("が編集しています。") %></div>
				</div>	
			</div>

			<div class="my-3">
				<button type="button" class="btn btn-danger" onclick="location.href='/programPresenters/edit?presenterId=<%= presenter.presenterId %>&programId=<%= presenter.programId %>&force=1';"><%- __("このまま編集を開始する") %></button>
			</div>

			<div class="my-3">
				<button type="button" class="btn btn-success" onclick="location.href='/programPresenters?programId=<%= presenter.programId %>';"><%- __("に戻る") %></button>
			</div>

		</div>
		
		<script>
			$(function () {
				let timestamp = getDateString("<%= datetime %>") ;

				$("#timestamp").append(timestamp) ;
			}) ;

			function getDateString(timestamp) {
				let date = new Date(timestamp) ;
				let dayOfWeek = date.getDay() ;

				let dayOfWeekName = ["日", "月", "火", "水", "木", "金", "土"] ;

				return date.toLocaleDateString('ja-JP') + " (" + dayOfWeekName[dayOfWeek] + ")" + " " + date.toLocaleTimeString('ja-JP')
			}
		</script>
	</body>
</html>