<!doctype html>
<html lang="ja">
	<head>
		<% if (program.programId != undefined) { %>
			<%- include('parts/head', {title: 'プログラム編集'}) %>
		<% } else { %>
			<%- include('parts/head', {title: 'プログラム作成'}) %>
		<% } %>

		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">

	</head>
	<body class="p-2">
		<%- include('parts/navbar', {}) %>

		<div class="container p-2">
			<div class="row mb-3">
				<div class="col">
					<% if (program.programId != undefined) { %>
						<h1 class="mb-5"><%- __("プログラム編集") %></h1>
					<% } else { %>
						<h1 class="mb-5"><%- __("プログラム作成") %></h1>
					<% } %>
				</div>
			</div>
			
			<div class="row mb-3">
				<div class="col">
					<% if (program.programId != undefined) { %>
						<% if (role == 1) { %>
							<button type="button" class="btn btn-danger" onclick="onClickDeleteButton('<%= program.programId %>')"><%- __("削除する") %></button>
						<% } %>
					<% } %>
				</div>
			</div>
			
			<form method="POST" action="/programs/edit">
				<div class="mb-3">
					<% if (program.programId != undefined) { %>
						<button type="submit" class="btn btn-primary"><%- __("編集を終了する") %></button>
						<label><%- __("編集が終わったらブラウザの戻るを使用しないで必ずこのボタンを押してください。") %></label>
					<% } else { %>
						<button type="submit" class="btn btn-primary"><%- __("作成する") %></button>
						<button type="button" class="btn btn-danger" onclick="window.history.back(-1);return false;"><%- __("戻る") %></button>
					<% } %>
				</div>
				<h2><%- __("タイトル") %></h2>
				<div class="row">
					<div class="col-sm mb-3">
						<%- __("プログラムのタイトルを200文字以内で入力してください。") %>
					</div>
				</div>
				<div class="row row-cols-1 row-cols-md-2 g-2 mb-3">
					<div class="col-sm">
						<label for="name" class="form-label"><%- __("タイトル（日本語）") %><span class="badge bg-danger"><%- __("必須") %></span></label>
						<input maxlength="200" required type="text" class="form-control" id="ja_title" name="ja_title" value="<%= program.title['ja'] %>">
					</div>
					<div class="col-sm">
						<label for="name" class="form-label"><%- __("タイトル（英語）") %></label>
						<input maxlength="200" type="text" class="form-control" id="en_title" name="en_title" value="<%= program.title['en'] %>">
					</div>
					<div class="col-sm">
						<label for="name" class="form-label"><%- __("タイトル（繁体字）") %></label>
						<input maxlength="200" type="text" class="form-control" id="zh-TW_title" name="zh-TW_title" value="<%= program.title['zh-TW'] %>">
					</div>
					<div class="col-sm">
						<label for="name" class="form-label"><%- __("タイトル（簡体字）") %></label>
						<input maxlength="200" type="text" class="form-control" id="zh-CN_title" name="zh-CN_title" value="<%= program.title['zh-CN'] %>">
					</div>
				</div>
				<h2><%- __("詳細") %></h2>
				<div class="row mb-3">
					<div class="col-sm">
						<label for="date" class="form-label"><%- __("日付") %></label>
						<input maxlength="200" required autocomplete="off" type="text" class="form-control datepicker" id="date" name="date" value="<%= program.date %>" aria-describedby="date" <% if (role != 1) { %>disabled<% } %>>
					</div>
					<div class="col-sm">
						<label for="time" class="form-label"><%- __("開始時間") %></label>
						<input maxlength="200" required autocomplete="off" type="text" class="form-control timepicker" id="startTime" name="startTime" value="<%= program.startTime %>" aria-describedby="startTimeHelp" <% if (role != 1) { %>disabled<% } %>>
					</div>
					<div class="col-sm">
						<label for="time" class="form-label"><%- __("終了時間") %></label>
						<input maxlength="200" required autocomplete="off" type="text" class="form-control timepicker" id="endTime" name="endTime" value="<%= program.endTime %>" aria-describedby="endTimeHelp" <% if (role != 1) { %>disabled<% } %>>
					</div>
				</div>
				<div class="row mb-3">
					<div class="col-sm">
						<button type="button" class="btn btn-secondary my-3" onclick="onClickDay(0)" <% if (role != 1) { %>disabled<% } %>><%- __("1日目") %></button>
						<button type="button" class="btn btn-secondary my-3" onclick="onClickDay(1)" <% if (role != 1) { %>disabled<% } %>><%- __("2日目") %></button>
						<button type="button" class="btn btn-secondary my-3" onclick="onClickTime(0)" <% if (role != 1) { %>disabled<% } %>>14:30-15:20</button>
						<button type="button" class="btn btn-secondary my-3" onclick="onClickTime(1)" <% if (role != 1) { %>disabled<% } %>>15:30-16:20</button>
						<button type="button" class="btn btn-secondary my-3" onclick="onClickTime(2)" <% if (role != 1) { %>disabled<% } %>>16:30-17:20</button>
					</div>
				</div>
				<div class="row mb-3">
					<div class="col-sm">
						<label for="trackId" class="form-label"><%- __("トラック") %></label>
						<select class="form-select" name="trackId" aria-label="<%- __("トラック") %>" <% if (role != 1) { %>disabled<% } %>>
							<option value="" <% if (program.trackId == '') { %>selected<% } %>><%- __("未定") %></option>
							<% for (let key in tracks) { %>
								<option value="<%= tracks[key].trackId %>" <% if (program.trackId == tracks[key].trackId) { %>selected<% } %>><%= tracks[key].name.ja %></option>
							<% }  %>
						</select>
					</div>
					<div class="col-sm">
						<label for="category" class="form-label"><%- __("カテゴリ") %></label>
						<select class="form-select" name="category" aria-label="<%- __("カテゴリ") %>" <% if (role != 1) { %>disabled<% } %>>
							<option value="0" <% if (program.category == 0) { %>selected<% } %>><%- __("未定") %></option>
							<option value="1" <% if (program.category == 1) { %>selected<% } %>><%- __("セッション") %></option>
							<option value="2" <% if (program.category == 2) { %>selected<% } %>><%- __("ワークショップ") %></option>
							<option value="3" <% if (program.category == 3) { %>selected<% } %>><%- __("収録セッション") %></option>
							<option value="4" <% if (program.category == 4) { %>selected<% } %>><%- __("休憩") %></option>
						</select>
					</div>
					<div class="col-sm">
						<label for="email" class="form-label"><%- __("申請者メールアドレス") %></label>
						<input maxlength="200" type="text" class="form-control" id="email" name="email" value="<%= program.email %>" <% if (role != 1) { %>disabled<% } %>>						
					</div>					
				</div>
				<div class="row mb-3">
					<div class="col-sm">
						<label for="broadcastingURL" class="form-label"><%- __("ライブストリーム配信ページのURL") %></label>
						<input type="text" class="form-control" id="broadcastingURL" name="broadcastingURL" value="<%= program.broadcastingURL %>" <% if (role != 1) { %>disabled<% } %>>						
					</div>
				</div>
				<div class="row mb-3">
					<div class="col-sm">
						<label for="presentationURL" class="form-label"><%- __("発表資料のURL") %></label>
						<input type="text" class="form-control" id="presentationURL" name="presentationURL" value="<%= program.presentationURL %>" <% if (role != 1) { %>disabled<% } %>>						
					</div>
				</div>
				<div class="row mb-3">
					<div class="col-sm">
						<label for="grarecoWorkingURL" class="form-label"><%- __("グラレコのURL") %></label>
						<input type="text" class="form-control" id="grarecoWorkingURL" name="grarecoWorkingURL" value="<%= program.grarecoWorkingURL %>" <% if (role != 1) { %>disabled<% } %>>						
					</div>
				</div>
				<div class="row">
					<h2><%- __("ジャンル") %></h2>
				</div>
				<div class="row row-cols-3 row-cols-md-2 g-2 mb-3">
					<% for (let i=0; i<genres.length; i++) { %>
						<% let genre = genres[i] ; %>
						<div class="form-check col-sm">
							<input name="genreIds" class="form-check-input" type="checkbox" value="<%= genre.genreId %>" id="genre<%= i %>" <% if (program.genreIds.indexOf(genre.genreId) >= 0) { %>checked<% } %>>
							<label class="form-check-label" for="genre<%= i %>"><%= genre.name.ja %></label>
						</div>
					<% } %>
				</div>
				<h2><%- __("概要") %></h2>
				<div class="row row-cols-1 row-cols-md-2 g-2 mb-3">
					<div class="col-sm">
						<label for="ja_description" class="form-label"><%- __("概要（日本語）") %></label>
						<textarea maxlength="1000" class="form-control" style="height: 300px;" id="ja_description" name="ja_description" placeholder=""><%= program.description["ja"] %></textarea>
					</div>
					<div class="col-sm">
						<label for="name" class="form-label"><%- __("概要（英語）") %></label>
						<textarea maxlength="1000" class="form-control" style="height: 300px;" id="en_description" name="en_description" placeholder=""><%= program.description["en"] %></textarea>
					</div>
					<div class="col-sm">
						<label for="name" class="form-label"><%- __("概要（繁体字）") %></label>
						<textarea maxlength="1000" class="form-control" style="height: 300px;" id="zh-TW_description" name="zh-TW_description" placeholder=""><%= program.description["zh-TW"] %></textarea>
					</div>
					<div class="col-sm">
						<label for="name" class="form-label"><%- __("概要（簡体字）") %></label>
						<textarea maxlength="1000" class="form-control" style="height: 300px;" id="zh-CN_description" name="zh-CN_description" placeholder=""><%= program.description["zh-CN"] %></textarea>
					</div>
				</div>

				<h2><%- __("関連リンク") %></h2>
				<div class="row row-cols-1 row-cols-md-2 g-2 mb-3">
					<div class="col-sm">
						<label for="name" class="form-label"><%- __("タイトル（日本語）") %></label>
						<input maxlength="200" type="text" class="form-control" id="ja_linkTitle" name="ja_linkTitle" value="<%= program.urls[0].title['ja'] %>">
					</div>
					<div class="col-sm">
						<label for="name" class="form-label"><%- __("タイトル（英語）") %></label>
						<input maxlength="200" type="text" class="form-control" id="en_linkTitle" name="en_linkTitle" value="<%= program.urls[0].title['en'] %>">
					</div>
					<div class="col-sm">
						<label for="name" class="form-label"><%- __("タイトル（繁体字）") %></label>
						<input maxlength="200" type="text" class="form-control" id="zh-TW_linkTitle" name="zh-TW_linkTitle" value="<%= program.urls[0].title['zh-TW'] %>">
					</div>
					<div class="col-sm">
						<label for="name" class="form-label"><%- __("タイトル（簡体字）") %></label>
						<input maxlength="200" type="text" class="form-control" id="zh-CN_linkTitle" name="zh-CN_linkTitle" value="<%= program.urls[0].title['zh-CN'] %>">
					</div>
				</div>
				<div class="row mb-3">
					<div class="col-sm">
						<label for="name" class="form-label"><%- __("URL") %></label>
						<input type="text" class="form-control" id="linkURL" name="linkURL" value="<%= program.urls[0].url %>">
					</div>
				</div>

				<h2><%- __("グラレコトラックURL") %></h2>
				<div class="row row-cols-1 row-cols-md-2 g-2 mb-3">
					<div class="col-sm">
						<label for="name" class="form-label"><%- __("タイトル（日本語）") %></label>
						<input maxlength="200" type="text" class="form-control" id="ja_grarecoLinkTitle" name="ja_grarecoLinkTitle" value="本セッションは同時にグラフィックレコーディングを以下にて配信します" readonly>
					</div>
					<div class="col-sm">
						<label for="name" class="form-label"><%- __("タイトル（英語）") %></label>
						<input maxlength="200" type="text" class="form-control" id="en_grarecoLinkTitle" name="en_grarecoLinkTitle" value="This session has real-time graphic recording" readonly>
					</div>
					<div class="col-sm">
						<label for="name" class="form-label"><%- __("タイトル（繁体字）") %></label>
						<input maxlength="200" type="text" class="form-control" id="zh-TW_grarecoLinkTitle" name="zh-TW_grarecoLinkTitle" value="此會話具有實時圖形錄製" readonly>
					</div>
					<div class="col-sm">
						<label for="name" class="form-label"><%- __("タイトル（簡体字）") %></label>
						<input maxlength="200" type="text" class="form-control" id="zh-CN_grarecoLinkTitle" name="zh-CN_grarecoLinkTitle" value="此会话具有实时图形录制。 " readonly>
					</div>
				</div>
				<div class="row mb-3">
					<div class="col-sm">
						<label for="name" class="form-label"><%- __("URL") %></label>
						<input type="text" class="form-control" id="grarecoLinkURL" name="grarecoLinkURL" value="<%= program.urls[1].url %>">
					</div>
				</div>

				<% if (program.programId != undefined) { %>
					<input type="hidden" name="programId" value="<%= program.programId %>">
				<% } %>

				<div class="mb-3">
					<% if (program.programId != undefined) { %>
						<button type="submit" class="btn btn-primary"><%- __("編集を終了する") %></button>
						<label><%- __("編集が終わったらブラウザの戻るを使用しないで必ずこのボタンを押してください。") %></label>
					<% } else { %>
						<button type="submit" class="btn btn-primary"><%- __("作成する") %></button>
						<button type="button" class="btn btn-danger" onclick="window.history.back(-1);return false;"><%- __("戻る") %></button>
					<% } %>
				</div>
			</form>
		</div>

		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>

		<script>
			$(function() {
				$(document).ready(function(){
    				$('input.timepicker').timepicker({});
					$('input.datepicker').datepicker({});
				});
			});

			$('.datepicker').datepicker({
					changeYear: true,
					dateFormat: 'yy-mm-dd',
			});

			$('.timepicker').timepicker({
				timeFormat: 'HH:mm',
				interval: 30,
				startTime: '10:00',
				dynamic: false,
				dropdown: true,
				scrollbar: true
			});

			async function onClickDeleteButton(programId) {
				location.href = "/programs/delete?programId=" + programId ;
			}

			function onClickDay(day) {
				if (day == 0) {
					$("#date").val("2021-09-18") ;
				} else if (day == 1) {
					$("#date").val("2021-09-19") ;
				}
			}

			function onClickTime(time) {
				if (time == 0) {
					$("#startTime").val("14:30") ;
					$("#endTime").val("15:20") ;
				} else if (time == 1) {
					$("#startTime").val("15:30") ;
					$("#endTime").val("16:20") ;
				} else if (time == 2) {
					$("#startTime").val("16:30") ;
					$("#endTime").val("17:20") ;
				}
			}
		</script>

	</body>
</html>