<!doctype html>
<html lang="ja">
	<head>
		<%- include('parts/head', {title: 'プログラム詳細'}) %>
	</head>
	<body>
		<%- include('parts/navbar', {}) %>

		<div class="container p-2">

			<h1>プログラム詳細</h1>

			<% if (editable) { %>
				<div class="my-3">
					<a class="btn btn-primary" style="width: 130px;" href="/programs/edit?programId=<%= program.programId %>">編集</a>
				</div>
			<% } %>

			<div class="card my-1">
				<div class="card-header h5 fw-bold">
					タイトル
				</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item"><%= program.title.ja %></li>
					<li class="list-group-item"><%= program.title.en %></li>
					<li class="list-group-item"><%= program.title["zh-TW"] %></li>
					<li class="list-group-item"><%= program.title["zh-CN"] %></li>
				</ul>
				<div class="card-header h5 fw-bold">
					詳細
				</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item"><%= program.description.ja %></li>
					<li class="list-group-item"><%= program.description.en %></li>
					<li class="list-group-item"><%= program.description["zh-TW"] %></li>
					<li class="list-group-item"><%= program.description["zh-CN"] %></li>
				</ul>
				<div class="card-header h5 fw-bold">
					その他
				</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item">
						<div class="row">
							<div class="col-sm">
								<i class="me-2 bi bi-calendar"></i><%= program.date %>
							</div>
							<div class="col-sm">
								<i class="me-2 bi bi-clock"></i>
								<% if (program.startTime != undefined && program.startTime != '' && program.endTime != undefined && program.endTime != '') { %>
									<%= program.startTime %> 〜 <%= program.endTime %>
								<% } else if (program.startTime != undefined && program.startTime != '') { %>
									<%= program.startTime %> 〜
								<% } else if (program.endTime != undefined && program.endTime != '') { %>
									〜 <%= program.endTime %>
								<% } %>
							</div>
						</div>
					</li>
					<li class="list-group-item">
						<div class="row">
							<div class="col-sm">
								<i class="me-2 bi bi-tags"></i><%= program.category %>
							</div>
						</div>
					</li>
				</ul>
				<div class="card-header h5 fw-bold">
					トラック
				</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item"><i class="me-2 bi bi-house-door"></i><%= program.trackName.ja %></li>
					<li class="list-group-item"><i class="me-2 bi bi-house-door"></i><%= program.trackName.en %></li>
					<li class="list-group-item"><i class="me-2 bi bi-house-door"></i><%= program.trackName["zh-TW"] %></li>
					<li class="list-group-item"><i class="me-2 bi bi-house-door"></i><%= program.trackName["zh-CN"] %></li>
				</ul>
			</div>

			<div class="my-3">
				<button type="button" class="btn btn-danger" style="width: 130px;" onclick="window.history.back(-1);return false;">戻る</button>
			</div>
		</div>
	</body>
</html>