<!doctype html>
<html lang="ja">
	<head>
		<%- include('parts/head', {title: 'プログラム詳細'}) %>
	</head>
	<body class="p-2">
		<%- include('parts/navbar', {}) %>

		<div class="container p-2">

			<h1 class="mb-5"><%- __("プログラム詳細") %></h1>

			<% if (isProgramOwner || role == 1) { %>
				<div class="row mb-3">
					<div class="col-sm mb-1">
						<button type="button" class="btn btn-primary" onclick="location.href='/programs/edit?programId=<%= program.programId %>';" style="width: 100%;"><%- __("編集する") %></button>
					</div>
					<div class="col-sm mb-1">
						<button type="button" class="btn btn-primary" onclick="location.href='/programPresenters?programId=<%= program.programId %>';" style="width: 100%;"><%- __("出演者／登壇者登録") %></button>
					</div>
					<div class="col-sm mb-1">
						<button type="button" class="btn btn-success" onclick="location.href='/programOwners?programId=<%= program.programId %>';" style="width: 100%;"><%- __("プログラムオーナー登録") %></button>
					</div>
					<div class="col-sm mb-1">
						<button type="button" class="btn btn-success" onclick="location.href='/programMembers?programId=<%= program.programId %>';" style="width: 100%;"><%- __("スタッフ登録") %></button>
					</div>
					<div class="col-sm mb-1">
						<button type="button" class="btn btn-success" onclick="location.href='/graphigRecordings?programId=<%= program.programId %>';" style="width: 100%;"><%- __("グラレコアップロード") %></button>
					</div>
				</div>
				<div class="row mb-3">
					<div class="col-sm mb-1">
						<div class="my-3"><%- __("プログラムの申請者及びプログラムオーナーの方は「編集する」ボタンを押して詳細の入力と「出演者／登壇者登録」を押して登壇者情報の作成をお願いします。申請者やオーナーの方自身が登壇者の場合も登壇者としてご自身を作成してください。") %></div>
						<div class="my-3"><%- __("入力が完了したら編集画面内の「プログラムオーナーによる入力が完了したらこちらをチェックしてください」をチェックして編集を終了してください。") %></div>
					</div>
				</div>
			<% } else if (role == 3) { %>
				<div class="row mb-3">
					<div class="col-sm mb-1">
						<button type="button" class="btn btn-primary" onclick="location.href='/programs/edit?programId=<%= program.programId %>';" style="width: 100%;"><%- __("編集する") %></button>
					</div>
					<div class="col-sm mb-1">
						<button type="button" class="btn btn-success" onclick="location.href='/programOwners?programId=<%= program.programId %>';" style="width: 100%;" disabled><%- __("プログラムオーナー登録") %></button>
					</div>
					<div class="col-sm mb-1">
						<button type="button" class="btn btn-success" onclick="location.href='/programPresenters?programId=<%= program.programId %>';" style="width: 100%;"><%- __("出演者／登壇者登録") %></button>
					</div>
					<div class="col-sm mb-1">
						<button type="button" class="btn btn-success" onclick="location.href='/programMembers?programId=<%= program.programId %>';" style="width: 100%;" disabled><%- __("スタッフ登録") %></button>
					</div>
					<div class="col-sm mb-1">
						<button type="button" class="btn btn-success" onclick="location.href='/graphigRecordings?programId=<%= program.programId %>';" style="width: 100%;" disabled><%- __("グラレコアップロード") %></button>
					</div>
				</div>
			<% } %>

			<div class="card my-1">
				<div class="card-header h5 fw-bold">
					<span class="badge bg-success me-2"><% if (program.inputCompleted == 1) { %><%- __("入力完了") %><% } %></span><%- __("タイトル") %>
				</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item"><span class="badge bg-secondary me-2"><%- __("日") %></span><%= program.title.ja %></li>
					<li class="list-group-item"><span class="badge bg-secondary me-2"><%- __("英") %></span><%= program.title.en %></li>
					<li class="list-group-item"><span class="badge bg-secondary me-2"><%- __("繁") %></span><%= program.title["zh-TW"] %></li>
					<li class="list-group-item"><span class="badge bg-secondary me-2"><%- __("簡") %></span><%= program.title["zh-CN"] %></li>
				</ul>
				<div class="card-header h5 fw-bold">
					<%- __("詳細") %>
				</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item"><span class="badge bg-secondary me-2"><%- __("日") %></span><%= program.description.ja %></li>
					<li class="list-group-item"><span class="badge bg-secondary me-2"><%- __("英") %></span><%= program.description.en %></li>
					<li class="list-group-item"><span class="badge bg-secondary me-2"><%- __("繁") %></span><%= program.description["zh-TW"] %></li>
					<li class="list-group-item"><span class="badge bg-secondary me-2"><%- __("簡") %></span><%= program.description["zh-CN"] %></li>
				</ul>
				<div class="card-header h5 fw-bold">
					<%- __("その他") %>
				</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item">
						<div class="row">
							<div class="col-sm">
								<i class="me-2 bi bi-calendar"></i><%= program.date %>
							</div>
							<div class="col-sm">
								<i class="me-2 bi bi-clock"></i>
								<% if (program.startTime != undefined && program.startTime != '' && program.endTime != undefined && program.endTime != '') { %>
									<%= program.startTime %> 〜 <%= program.endTime %>
								<% } else if (program.startTime != undefined && program.startTime != '') { %>
									<%= program.startTime %> 〜
								<% } else if (program.endTime != undefined && program.endTime != '') { %>
									〜 <%= program.endTime %>
								<% } %>
							</div>
						</div>
					</li>
					<li class="list-group-item">
						<div class="row">
							<div class="col-sm">
							</div>
							<div class="col-sm">
								<i class="me-2 bi bi-tags"></i>
								<% if (program.category == 0) {%>
									<%- __("未定") %>
								<% } else if (program.category == 1) { %>
									<%- __("セッション") %>
								<% } else if (program.category == 2) { %>
									<%- __("ワークショップ") %>
								<% } %>
							</div>
						</div>
					</li>
				</ul>
				<div class="card-header h5 fw-bold">
					<%- __("トラック") %>
				</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item"><i class="me-2 bi bi-house-door"></i><%= program.trackName.ja %></li>
				</ul>
				<div class="card-header h5 fw-bold">
					<%- __("ジャンル") %>
				</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item"><i class="me-2 bi bi-collection"></i><%= program.genreName.ja %></li>
				</ul>
				<div class="card-header h5 fw-bold">
					<%- __("出演者／登壇者") %>
				</div>
				<ul class="list-group list-group-flush">
					<% if (program.presenters.length == 0) { %>
						<li class="list-group-item"><%- __("※まだ出演者／登壇者が登録されていません") %></li>
					<% } else { %>
						<% for (let key in program.presenters) { %>
							<% let presenter = program.presenters[key] ; %> 
							<% let photoURL = presenter.photoURL ; %>
							<% if (photoURL == null || photoURL == "") { photoURL = "../images/profile.png" ; } %>
							<li class="list-group-item">
								<div class="row">
									<div class="col">
										<img class="border rounded img-thumbnai" src="<%= photoURL %>" width="50">
									</div>
								</div>
								<div class="row">
									<div class="col">
										<span class="badge bg-secondary me-2"><%- __("日") %></span><%= presenter.name.ja %>（<%= presenter.name.ja_kana %>）
										<div><%= presenter.description.ja %></div>
										<span class="badge bg-secondary me-2"><%- __("英") %></span><%= presenter.name.en %>
										<div><%= presenter.description.en %></div>
										<span class="badge bg-secondary me-2"><%- __("繁") %></span><%= presenter.name["zh-TW"] %>
										<div><%= presenter.description["zh-TW"] %></div>
										<span class="badge bg-secondary me-2"><%- __("簡") %></span><%= presenter.name["zh-CN"] %>
										<div><%= presenter.description["zh-CN"] %></div>
									</div>
								</div>
								
							</li>
						<% } %>
					<% } %>
				</ul>
			</div>

			<div class="my-3">
				<button type="button" class="btn btn-danger" style="width: 100%;" onclick="location.href='/programs?showingProgramId=<%= program.programId %>';"><%- __("プログラム一覧へ戻る") %></button>
			</div>
		</div>
	</body>
</html>