<!doctype html>
<html lang="ja">
	<head>
		<%- include('parts/head', {title: '出演者／登壇者編集'}) %>
	</head>
	<body class="p-2">
		<%- include('parts/navbar', {}) %>

		<div class="container p-2">

			<h1 class="mb-5"><%- __("出演者／登壇者編集") %></h1>

			<h2><%- __("タイトル") %></h2>

			<div class="my-3">
				<div><span class="badge bg-secondary me-2"><%- __("日") %></span><%= program.title.ja %></div>
				<div><span class="badge bg-secondary me-2"><%- __("英") %></span><%= program.title.en %></div>
				<div><span class="badge bg-secondary me-2"><%- __("繁") %></span><%= program.title["zh-TW"] %></div>
				<div><span class="badge bg-secondary me-2"><%- __("簡") %></span><%= program.title["zh-CN"] %></div>
			</div>

			<div class="my-3">
				<button type="button" class="btn btn-success" onclick="location.href='/programs/view?programId=<%= program.programId %>';"><%- __("プログラム詳細に戻る") %></button>
			</div>

			<h2><%- __("出演者／登壇者一覧") %></h2>
		
			<div class="d-grid gap-2 d-md-block">
				<div id="currentLang"></div>
				<a class="btn btn-success btn-sm" style="width: 130px;" onclick='reloadRequest("ja", 0);'><%- __("日本語") %></a>
				<a class="btn btn-success btn-sm" style="width: 130px;" onclick='reloadRequest("en", 0);'><%- __("英語") %></a>
				<a class="btn btn-success btn-sm" style="width: 130px;" onclick='reloadRequest("zh-TW", 0);'><%- __("繁体字") %></a>
				<a class="btn btn-success btn-sm" style="width: 130px;" onclick='reloadRequest("zh-CN", 0);'><%- __("簡体字") %></a>
			</div>

			<% if (isProgramOwner || role == 1) { %>
				<div class="my-3">
					<a class="btn btn-primary" href="/programPresenters/edit?programId=<%= program.programId %>"><%- __("新規作成") %></a>
				</div>
			<% } %>

			<div id="presenters"></div>
		</div>
		<script>
			$(function () {
				let lang = localStorage["programPresenters_lang"] ;

				if (lang == undefined) {
					lang = "ja" ;
				}

				reloadRequest(lang, 0) ;
			}) ;

			async function reloadRequest(lang, page) {
				
				localStorage.setItem('programPresenters_lang', lang) ;

				$("#currentLang").text(getLangLabel(lang)) ;

				let spinner = '<div class="d-flex justify-content-center"><div class="spinner-border my-3" role="status"><span class="visually-hidden">Loading...</span></div></div>' ;
				
				$("#presenters").empty() ;
				$("#presenters").append(spinner) ;
				$("#pagenation").empty() ;
				
				let data = await fetch("/programPresenters/data?programId=<%= program.programId %>&page=" + page).then(response => response.json()) ;
				
				$("#presenters").empty() ;
				$("#pagenation").empty() ;
				
				for (let key in data.presenters) {
					let presenters = data.presenters[key] ;
					$("#presenters").append(presentersBlock(lang, presenters)) ;
				}

				let ul = $('<ul class="pagination">') ;

				ul.append('<li class="page-item"><a class="page-link" onclick="reloadRequest(0);">最初</a></li>') ;

				for (let i=0; i<data.pageCount; i++) {
					if (i == data.page) {
						ul.append('<li class="page-item active"><a class="page-link" onclick="reloadRequest(' + i + ');">' + (i + 1) +'</a></li>') ;
					} else {
						ul.append('<li class="page-item"><a class="page-link" onclick="reloadRequest(' + i + ');">' + (i + 1) +'</a></li>') ;
					}
				}

				ul.append('<li class="page-item"><a class="page-link" onclick="reloadRequest(' + (data.pageCount - 1) + ');">最後</a></li>') ;

				$("#pagenation").append('<nav aria-label="Page navigation example">')
					.append('<ul class="pagination">').append(ul) ;
			}

			function presentersBlock(lang, presenter) {

				let photoURLString = presenter.photoURL ;

				if (photoURLString == "" || photoURLString == undefined) {
					photoURLString = "images/profile.png" ;
				}

				let nameTranslationsString = makeTranslationsString(presenter.name) ;
				let descriptionTranslationsString = makeTranslationsString(presenter.description) ;
				let relatedURLTranslationsString = makeTranslationsString(presenter.urls[0].title) ;

				return `<div class="card my-3">
							<div class="card-body">
								<div class="row mb-1">
									<div class="col">
										${nameTranslationsString}
									</div>
								</div>
								<div class="row mb-3">
									<div class="col-auto">
										<div id="profilePhoto"><img class="border rounded img-thumbnai" src="${photoURLString}" width="50"></div>
									</div>
									<div class="col">
										<a href="/programPresenters/edit?presenterId=${presenter.presenterId}&programId=<%= program.programId %>">${presenter.name[lang]}</a>
									</div>
									<div class="col-auto">
										<button type="button" class="btn btn-danger" onclick="onClickDeletepresentersButton('${presenter.presenterId}')"><%- __("削除") %></button>
									</div>
								</div>	
								<div class="row mb-1">
									<div class="col">
										${descriptionTranslationsString}
									</div>
								</div>
								<div class="row mb-3">
									<div class="col">
										${presenter.description[lang]}
									</div>
								</div>		
								<div class="row mb-1">
									<div class="col">
										${relatedURLTranslationsString}
									</div>
								</div>
								<div class="row mb-1">
									<div class="col">
										<div>${presenter.urls[0].title[lang]}</div>
										<a href="${presenter.urls[0].url}" target="_blank">${presenter.urls[0].url}</a>
									</div>
								</div>
							</div>							
						</div>` ;
			}

			function makeTranslationsString(value) {
				let string = "" ;

				if (value.ja != undefined && value.ja != "") {
					string += '<span class="badge bg-secondary me-2"><%- __("日") %></span>' ;
				} else {
					string += '<span class="badge bg-light text-black-50 me-2"><%- __("日") %></span>' ;
				}

				if (value.en != undefined && value.en != "") {
					string += '<span class="badge bg-secondary me-2"><%- __("英") %></span>' ;
				} else {
					string += '<span class="badge bg-light text-black-50 me-2"><%- __("英") %></span>' ;
				}

				if (value["zh-TW"] != undefined && value["zh-TW"] != "") {
					string += '<span class="badge bg-secondary me-2"><%- __("繁") %></span>' ;
				} else {
					string += '<span class="badge bg-light text-black-50 me-2"><%- __("繁") %></span>' ;
				}

				if (value["zh-CN"] != undefined && value["zh-CN"] != "") {
					string += '<span class="badge bg-secondary me-2"><%- __("簡") %></span>' ;
				} else {
					string += '<span class="badge bg-light text-black-50 me-2"><%- __("簡") %></span>' ;
				}

				return string ;
			}

			async function onClickDeletepresentersButton(presenterId) {
				await fetch("/programPresenters/delete?presenterId=" + presenterId + "&programId=<%= program.programId %>").then(response => response.json()) ;

				reloadRequest("ja", 0) ;
			}

		</script>
	</body>
</html>