<!doctype html>
<html lang="ja">
	<head>
		<% if (track.trackId != undefined) { %>
			<%- include('parts/head', {title: 'トラック編集'}) %>
		<% } else { %>
			<%- include('parts/head', {title: 'トラック作成'}) %>
		<% } %>

		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">

	</head>
	<body class="p-2">
		<%- include('parts/navbar', {}) %>

		<div class="container p-2">
			<% if (track.trackId != undefined) { %>
				<h1 class="mb-5">トラック編集</h1>
			<% } else { %>
				<h1 class="mb-5">トラック作成</h1>
			<% } %>
			<form method="POST" action="/tracks/edit">
				<h2>名前</h2>
				<div class="row mb-3">
					<div class="col-sm">
						<label for="name" class="form-label">名前（日本語）<span class="badge bg-danger">必須</span></label>
						<input maxlength="50" required type="text" class="form-control" id="ja_name" name="ja_name" value="<%= track.name['ja'] %>">
					</div>
					<div class="col-sm">
						<label for="name" class="form-label">名前（英語）<span class="badge bg-danger">必須</span></label>
						<input maxlength="50" required type="text" class="form-control" id="en_name" name="en_name" value="<%= track.name['en'] %>">
					</div>
				</div>
				<div class="row mb-3">
					<div class="col-sm">
						<label for="name" class="form-label">名前（繁体字）</label>
						<input maxlength="50" type="text" class="form-control" id="zh-TW_name" name="zh-TW_name" value="<%= track.name['zh-TW'] %>">
					</div>
					<div class="col-sm">
						<label for="name" class="form-label">名前（簡体字）</label>
						<input maxlength="50" type="text" class="form-control" id="zh-CN_name" name="zh-CN_name" value="<%= track.name['zh-CN'] %>">
					</div>
				</div>

				<h2>Zoomミーティング情報</h2>
				<div class="row">
					<div class="col-sm">
						<div class="mb-3">
							<label for="meetingURL" class="form-label">招待リンク</label>
							<input type="text" class="form-control" id="meetingURL" name="meetingURL" value="<%= track.meetingURL %>">
						</div>
						<div class="mb-3">
							<label for="meetingId" class="form-label">ミーティングID</label>
							<input type="text" class="form-control" id="meetingId" name="meetingId" value="<%= track.meetingId %>">
						</div>
						<div class="mb-3">
							<label for="meetingPasscode" class="form-label">パスコード</label>
							<input type="text" class="form-control" id="meetingPasscode" name="meetingPasscode" value="<%= track.meetingPasscode %>">
						</div>
					</div>
				</div>
				
				<h2>カスタムストリーミングサービスを設定</h2>
				<div class="row">
					<div class="col-sm">
						<div class="mb-3">
							<label for="streamURL" class="form-label">ストリームURL</label>
							<input type="text" class="form-control" id="streamURL" name="streamURL" value="<%= track.streamURL %>">
						</div>
						<div class="mb-3">
							<label for="streamKey" class="form-label">ストリームキー</label>
							<input type="text" class="form-control" id="streamKey" name="streamKey" value="<%= track.streamKey %>">
						</div>
						<div class="mb-3">
							<label for="broadcastingURL" class="form-label">ライブストリーム配信ページのURL</label>
							<input type="text" class="form-control" id="broadcastingURL" name="broadcastingURL" value="<%= track.broadcastingURL %>">
						</div>
						
					</div>
				</div>

				<h2>その他</h2>
				<div class="row">
					<div class="col-sm">
						<div class="mb-3">
							<label for="station" class="form-label">担当拠点</label>
							<input type="text" class="form-control" id="station" name="station" value="<%= track.station %>">
						</div>
					</div>
				</div>

				<% if (track.trackId != undefined) { %>
					<input type="hidden" name="trackId" value="<%= track.trackId %>">
				<% } %>

				<div class="mb-3">
					<% if (track.trackId != undefined) { %>
						<button type="submit" class="btn btn-primary">編集を終了する</button>
						<label>編集が終わったらブラウザの戻るを使用しないで必ずこのボタンを押してください。</label>
					<% } else { %>
						<button type="submit" class="btn btn-primary">作成する</button>
						<button type="button" class="btn btn-danger" onclick="window.history.back(-1);return false;"><%- __("戻る") %></button>
					<% } %>
				</div>
			</form>
		</div>
	</body>
</html>