<!doctype html>
<html lang="ja">
	<head>
		<%- include('parts/head', {title: 'トラック詳細'}) %>
	</head>
	<body class="p-2">
		<%- include('parts/navbar', {}) %>

		<div class="container p-2">

			<h1 class="mb-5"><%- __("トラック詳細") %></h1>

			<% if (role == 1) { %>
				<div class="my-3">
					<a class="btn btn-primary" href="/tracks/edit?trackId=<%= track.trackId %>"><%- __("編集") %></a>
					<button type="button" class="btn btn-danger" onclick="location.href='/tracks/delete?trackId=<%= track.trackId %>'; return false;">削除</button>
				</div>
			<% } %>

			<div class="card my-1">
				<div class="card-header h5 fw-bold">
					<%- __("名前") %>
				</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item"><%= track.name.ja %></li>
					<li class="list-group-item"><%= track.name.en %></li>
					<li class="list-group-item"><%= track.name["zh-TW"] %></li>
					<li class="list-group-item"><%= track.name["zh-CN"] %></li>
				</ul>
			</div>

			<div class="card my-1">
				<div class="card-header h5 fw-bold">
					<%- __("Zoomミーティング情報") %>
				</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item"><%= track.meetingURL %></li>
					<li class="list-group-item"><%= track.meetingId %></li>
					<li class="list-group-item"><%= track.meetingPasscode %></li>
				</ul>
			</div>

			<div class="card my-1">
				<div class="card-header h5 fw-bold">
					<%- __("カスタムストリーミングサービスを設定") %>
				</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item"><%= track.streamURL %></li>
					<li class="list-group-item"><%= track.streamKey %></li>
					<li class="list-group-item"><%= track.broadcastingURL %></li>
				</ul>
			</div>

			<div class="card my-1">
				<div class="card-header h5 fw-bold">
					<%- __("その他") %>
				</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item"><%= track.station %></li>
				</ul>
			</div>

			<div class="my-3">
				<button type="button" class="btn btn-danger" style="width: 100%;" onclick="location.href='/tracks';">トラック一覧へ戻る</button>
			</div>
		</div>
	</body>
</html>